html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 75px; /* Margin bottom by footer height */
   background-color: #B29A86
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}
.logo{
  padding: 0%;
}
.navbar-brand{
  padding: 0%;

}
.certificados{
  height: 6%;
  width: 18%;
  padding-right: 10px;
}
.cafe{
  height: 400px;
  padding: 0%;
  margin-bottom: 10%;
}
.discription{
    padding-left: 0px;
    margin-top: 80px;
    padding-right: 20px;
    margin: auto;
}
.product-name{
  text-align: center ;
}
/* *{
  border: 1px solid red;
} */
.mision{
  margin: auto;
}
.vision{
  margin: auto;
}
.carousel {
  box-sizing: border-box;
  width:900px;
  height:430px;
  margin: auto;
}
.carousel img { 
   margin: auto;
   width: 450px;
   height: 450px;
  }
.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 100px;
  width: 100px;
  /* outline: black; */
  background-size: 100%, 100%;
  /* border-radius: 50%; */
  /* border: 1px solid black; */
  background-image: none;
}
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 30px;
  color: gray;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 30px;
  color: gray;
}
.card-img-top{
  height: 310px;
  width: 250px;
}
.card{
  height: 550px;
  width: 520px; 
}
.history {
  box-sizing: border-box;
  width:900px;
  height:430px;
  margin: auto;
}
.history img { 
   margin: auto;
   width: 450px;
   height: 450px;
  }
  .facebook{
    color: rgb(16, 103, 232);
    padding: 5px;
  }
    .twitter{
    color: rgb(29, 140, 237);
     padding: 5px;
  }
     .instagram{
    color:rgb(180, 26, 152);
     padding: 5px;
  }
  .carolina{
    margin-left: -110px;
  }